@import 'tailwindcss';

body {
  background-color: #0f0f14;
  color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

@theme {
  --color-button: #7c3aed;
  --color-hover-button: #a78bfa;
}
