@import 'tailwindcss';

body {
  background-color: #0f0f14;
  color: #E5E7EB;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}

@theme {
  --color-button: #7C3AED;
  --color-hover-button: #A78BFA;
}